body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(226,226,226,1) 100%);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(24, 142, 211);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(7, 117, 180);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(7, 106, 163);
}

.container {
    background-color: #343a40;
    max-width: 95% !important; 
    margin-top: 1%;
    border-radius: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0 0 15px 1px #303030;
}

.price-slider-parent {
    text-align: center;
    width: 50vh;
}

.amount-slider-parent {
    text-align: center;
    width: 50vh;
}

.selectors-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    color: white;
    margin-top: 2%;
}

.price-span {
    margin-bottom: 500px;
}

.DateRangePickerInput,
.DateInput_input.DateInput_input_1,
.DateRangePickerInput_arrow_svg.DateRangePickerInput_arrow_svg_1{
    background-color: #343a40;
    color: rgba(255,255,255,0.9);
    fill: rgba(255,255,255,0.9);
    text-align: center;
}
