body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    /* color: #a3a7b0;
    background-color: #23272c; */
    margin: 0;
    padding: 0;
}

.parent-container {
    background: rgb(201,201,201);
    background: linear-gradient(90deg, rgba(201,201,201,1) 0%, rgba(226,226,226,1) 100%);
    display: flex;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
}

.container {
    background-color: #343a40;
    min-width: 75%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 1%;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 0 15px 1px #303030;
}

.price-slider-parent {
    text-align: center;
    width: 50vh;
}

.amount-slider-parent {
    text-align: center;
    width: 50vh;
}

.selectors-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    color: white;
    margin-top: 2%;
}

.price-span {
    margin-bottom: 500px;
}

.DateRangePickerInput,
.DateInput_input.DateInput_input_1,
.DateRangePickerInput_arrow_svg.DateRangePickerInput_arrow_svg_1{
    background-color: #343a40;
    color: white;
    fill: white;
}